extends ./page.pug

block innercontent

  .content 
    !=content

  table.tunes
    each t in tracks
      tr
        td(id='#{t.title}')
          h3: a(href='#{t.path}') #{t.title}
          p #{t.description}
        td
          audio(src='#{t.path}' controls) Looks like your browser can't play HTML5 audio.


